@use '../../styles/vars';

.section {
  &__testi {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    justify-content: space-around;
  }
  }

  &__testi-content {
    margin-bottom: 1em;
    width: 100%;
    padding: 0.8em;
    background-color: vars.$white-color-trans;
    border-radius: vars.$btn-radius;
    font-size: vars.$font-small;
    @media (min-width: 768px) {
      max-width: 30%;
    }
  }
  &__testi-text {
    font-style: italic;
  }

  &__testi-name {
    color: vars.$dark-color;
    font-weight: 400;
  }
}
