.container {

  @media (min-width: 768px) {
    padding: 3em;
    max-width: 90%;
  }

  @media (min-width: 1024px) {
    margin:auto;
    max-width: 78%;
  }

  @media (min-width: 1200px)  {
    max-width: 1200px;
  }
}
