@use "sass:color";

// font variables
$font-family: 'Inconsolata', sans-serif;
$font-big: 1.5em; // 24px
$font-medium: 1.25em; // 20px

// colors
$dark-color: #1c0920;
$yellow: #ffff00;
$dark-yellow: color.scale($yellow, $blackness: 20%);

//radius
$btn-radius : 0.375em;
