@use 'reset';
@use 'vars';

/*body {
  font-family: sans-serif;
}*/


  // or you can import your own font
  @font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/Inconsolata-Regular.ttf');
  }

  body {
    font-family: 'Inconsolata', sans-serif;
    color: white;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

