@use 'reset';
@use 'vars';

// import your own font
@font-face {
  font-family: 'dogica';
  src: url('../assets/fonts/dogica.ttf');
}
@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic3-Regular.ttf')
}

body {
  // font-family: vars.$font-family;
  font-size: 1em;
  font-weight: 300;
  color: white;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  line-height: 1.8em;
}

/* Styles pour la police par défaut */
.default-font {
  font-family: 'Josefin Sans', sans-serif;
}

/* Styles pour la police changée */
.changed-font {
  font-family: 'OpenDyslexic', sans-serif;
  // font-size: 0.9em;
}

// SECTIONS
.section {
  padding: 5em 2em 2em;

  &__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    margin-bottom: 1.5em;
  }

  &__title {
    font-size: vars.$font-big;
    margin-bottom: 1.2em;
  }

  &__subtitle {
    font-size: vars.$font-medium;
    margin-bottom: 1.2em;
  }

  &__box--avatar {
    width: 50%;
    margin: 1.4em auto;
    text-align: center;
    @media (min-width: 768px) {
      float: left;
      padding-right: 2em;
      padding-bottom: 0.5em;
      width: 20%;
    }
  }

  &__box--avatar-img {
    width: 100%;
    border-radius: vars.$btn-radius;
  }

  &__list {
    margin-left: 1em;
    line-height: 1.8em;
    list-style: inside;
    list-style-type: square;
  }

  &__list li {
    margin-bottom : 1em;
  }
}

// LINKS a
.link {
  color: vars.$yellow;
}

.link:hover {
  color: vars.$red;
  background-color: vars.$yellow;
}
