@use '../../styles/vars';

// FORM
label {
  margin-bottom: 0.6em;
}

input {
  border: 1px solid vars.$dark-color-trans;
  border-radius: vars.$btn-radius;
  font-family: inherit;
  font-size: 1em;
  padding-left: 0.625em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}

textarea {
  min-height: 3.5em;
  border: 1px solid vars.$dark-color-trans;
  border-radius: vars.$btn-radius;
  font-family: inherit;
  font-size: 1em;
  padding-left: 0.625em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}

.form {
  width:100%;
  margin: auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  border-radius: vars.$btn-radius;
  background-color: vars.$white-color-trans;
  @media (min-width: 768px) {
    width: 70%;
    max-width: 600px;
  }
  @media (min-width: 1024px) {
    width: 75%;
    margin: 0;
  }

  &__warning {
    padding: 1em;
    font-size: vars.$font-small;
    font-style: italic;
  }

  &__field {
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
}

// ALL PAGE
.contact {
  &__blocks {
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      }
    }
  &__block--left {
    width: 100%;
    @media (min-width: 768px) {
      width: 60%;
    }
  }
  &__block--right {
    width: 100%; 
    @media (min-width: 768px) {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__text {
    margin-bottom: 1.5em;
  }
  &__img-container {
    max-width: 80%;
    margin: auto;
  @media (min-width: 768px) {
    max-width: 100%;
  }
  display: flex;
  justify-content: center;
  }
  &__block--right--img {
    width: 80%; 
    @media (min-width: 768px) {
      width: 100%;
    }
  }
}
