@use '../../styles/vars';



.main {
  // margin: 2em 2em 0 2em;

  @media (min-width: 768px) {
    display: flex;
  }
  @media (min-width: 1024px) {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
  }

  &__block{
    width: 100%;
    @media (min-width: 1024px) {
      margin: 0;
    }
  }
}

.home {
  &__welcome--title {
    margin-bottom: 0.5em;
    font-size: 1.8em;
  }

  &__name {
    font-size: 2.5em;
    margin-bottom: 1em;
    line-height: 1em;
  }

  &__logo {
    display: flex;
  }

  &__logo img {
    height: 5em;
    padding: 1.5em 1.2em .5em 0;
  }

  &__img {
    width: 81%;
    max-width: 600px;
    margin: 1.5em;
    
    @media (min-width: 768px) {
      width: 100%;
      max-width: 900px;
      margin: 2em 5em;
    }
    @media (min-width: 1200px) {
      // width: 100%;
      max-width: 600px;
      margin: 0 12em 2em 2em;
    }

    
  }

  &__content {
    padding-bottom: 1.2em;
  }
}

.home__name span {
  color: vars.$yellow;
}
