@use '../../styles/vars';

h2 {
    padding-top: 1em;
    font-size: vars.$font-small;
  }
.work {
  &__pannel {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    padding: 1em;
    color: white;
    background-color: vars.$white-color-trans;
    border-radius: vars.$btn-radius;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }
  &__img {
    width: 100%;
    margin: auto;
    padding: 1em;
    text-align: center;
    @media (min-width: 768px) {
      max-width: 400px;
    }
  }
  &__img--src {
    width: 100%;
  }
  &__description {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  &__title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  &__context {
    font-size: vars.$font-small;
    margin-bottom: 0.7em;
    @media (min-width: 768px) {
      margin-bottom: 1.8em;
    }
  }
  &__role {
    font-weight: 400;
    margin-bottom: 0.3em;
  }
  &__content {
    line-height: 1.8em;
    margin-bottom: 0.3em;
  }
  &__tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (min-width: 768px) {
      margin: 1em 0;
    }
  }
  &__tool--img {
    height: 50px;
    padding: 0.3em;
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__link--img {
    width: 20px;
    margin-left: 0.5em;
  }
}
