.page {
  padding: 5em 3em 2em 3em;

  @media (min-width: 768px) {
    padding: 3em;
    max-width: 74%;
  }

  @media (min-width: 1024px) {
    max-width: 74%;
  }

  @media (min-width: 1280px)  {
    max-width: 74%;
  }
}
