@use '../../styles/vars';

// Menu for mobiles

.left__part {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: block;
  margin: 1em 1.4em 0 1em;

  @media (min-width: 768px) {
    display: none;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }
  // Logo signature
  &__logo {
    height: 5em;
    margin-bottom: 0.6em;
  }

  // Burger
  &__burger-button {
    display: block;
    width: 4.5em;
    border: none;
    border-radius: vars.$btn-radius;
    font-family: inherit;
    font-size: vars.$font-medium;
	  line-height: 1;
  }

  &__burger-button[aria-expanded='true'] {
    background-color: vars.$dark-color;
    color: white;
  }

  &__burger-button svg {
    width: 3em;
    height: 3em;
    fill: vars.$dark-color;
  }

  &__burger-button[aria-expanded='true'] svg {
    background: vars.$dark-color;
    fill: white;
  }

  &__burger-button--text {
    display: block;
    position: relative;
    bottom: 3px;
  }

  &__menu-expanded {
    display: flex; /* expande links when class is applied */
    flex-direction:column;
    background-color: vars.$dark-color;
    margin-top: 1em;
    padding: 1em;
    font-size: vars.$font-medium;
  }

  &__menu-expanded--element{
    padding: 1em 0.5em;
    border-bottom: solid 1px vars.$dark-yellow;
  }

  &__menu-not-expanded {
    display: none;  /* hide links when class is applied */
  }
}

// Menu for desktop

.main-nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 0 1em;
  @media (max-width: 768px) {
    display: none;
  }

  // Logo signature
  &__logo {
    height: 4em;
  }

  &__block {
    display: flex;
  }

  &__element {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2em;
    align-items: center;
    background-color: vars.$white-color-trans;
  }

  &__element :visited {
    color: vars.$dark-color;
  }
  &__element :focus {
    color: vars.$yellow;
  }

  &__element :hover{
    color: vars.$yellow;
  }

}
