// Logo
.main-nav__logo {
  width: 3em;
};

// Burger menu

#main-nav__hamburger {
  margin: 1em;
  justify-self: end;
  display: block;
  background: #fff;
  border: none;
  font-size: 1.2em;
  line-height: 1;
}

.expanded {
  display: block; /* expande links when class is applied */
}

.not-expanded {
  display: none;  /* hide links when class is applied */
}

#main-nav__hamburger span {
  display: block;
  position: relative;
  top: 15px;
}

#main-nav__hamburger #expanded {
  display: none;
}
#main-nav__burger-button svg {
  width: 3em;
  height: 3em;
}

