@use '../../styles/vars';

// ACCORDION
.accordion_list {
  margin-top: 2em;
}

// ACCORDION CONTENT

.accordion {
  &__content {
  line-height: 1.8em;
  }

  &__picto {
    padding-right: 0.4em;
    font-size: vars.$font-medium;
    font-weight: 300;
  }
  &__date {
    font-size: vars.$font-small;
    margin-bottom: 0.8em;
  }
  &__job {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
  &__tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__tools--img {
    width: 50px;
    max-height: 40px;
    margin-bottom: 0.3em;
    padding: 0 0.3em;
  }
}

.content {
  &__subtitle {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.8em 0;
  }
  &__list {
    margin-left: 1em;
    padding: 1em 0;
    list-style: inside;
    list-style-type: square;
  }
  &__skills {
    display: flex;
    flex-direction: column;
  }
  &__skills--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
  }
  &__skills--title {
    font-weight: 400;
    margin: 1em 0;
  }
  &__skills--items img{
    max-width: 120px;
    max-height: 50px;
  }
}

/* activate toggle */
.accordion__item.active {
  padding: 1em;
  margin-bottom: 1em;
  color: white;
  background-color: vars.$white-color-trans;
  border-radius: vars.$btn-radius;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
}
.answer_wrapper.open {
  height: auto;
}
