@use '../../styles/vars';

// ACCORDION
.accordion_list {
  margin-top: 2em;
}

// ACCORDION CONTENT

.accordion {
  &__content {
  line-height: 1.8em;
  }

  &__picto {
    padding-left: 0.2em;
  }
}

/* activate toggle */
.accordion__item.active {
  padding: 1em;
  margin-bottom: 1em;
  color: white;
  background-color: vars.$white-color-trans;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
}
.answer_wrapper.open {
  height: auto;
}
