@use '../../styles/vars';
// @use '../../styles/mixin';

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 1em;
  background-color: vars.$dark-color-trans;
  font-size: vars.$font-small;

}
