@use '../../styles/vars';

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 1em;
  background-color: vars.$dark-color-trans;
  font-size: vars.$font-small;

  &__text {
    width: 60%;
    padding-right: 2em;
    
  }

  &__copyright {
    width: 40%;
    padding-right: 1em;
    @media (min-width: 768px) {
      text-align: right;
    }
  }
<<<<<<< HEAD
  &__link {
    text-decoration: underline;
  }
=======
  
>>>>>>> e0283fa52cfe44c35e768e0ace20cff3746a0529

}
