@use '../../styles/vars';

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 1em;
  background-color: vars.$dark-color-trans;
  font-size: vars.$font-small;

  &__text {
    padding-right: 2em;
  }
  

}
